/* VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --bg1: #121212;
    --bg2: #141414;
    --orange: #ff8c00;
    --bg-footer: #2e2e2e;

    --desc-text: #676767;

    --black: #010101;
    --grey: #1e1e1e;
    --white: #fefefe;
    --white-glow: #fefefe24;
}

/* GENERAL */
*:not(script, head, h1, span) {
    size: auto;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    font-family: "Google Sans Code", monospace;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    transition: ease 0.2s;
}

.hidden {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    overflow: auto;

    /** NEVER REMOVE IT! **/
    background-image: url("https://i.pinimg.com/736x/64/fb/35/64fb35d2126cbdd70eab59b20f27b3c4.jpg");
    background-size: cover;
    backdrop-filter: blur(75px);
    /** old, plain and WORSE background **/
    /**background: linear-gradient(to top, var(--bg1) 55%, var(--bg2) 55%);**/
}

a {
    padding: 0.1vw 0.2vw;
    color: var(--orange);
}

header {
    width: auto;
    padding: 0.5vw;
    background: var(--orange);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    z-index: 1;
}

header p {
    align-self: center;
    color: var(--white);
    font-weight: 600;
    font-size: 12px;
}

footer {
    width: auto;
    background: var(--black);
    padding: 0.8vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

footer p, footer a {
    color: var(--grey);
    font-weight: 400;
    font-size: 12px;
}

footer div {
    gap: 1vw;
    align-self: center;
    flex-direction: row;
}

footer a:hover {
    color: var(--white);
}

span {
    color: var(--orange);
}

svg {
    scale: 1.2;
    margin: 0.2vw 0.75vw 0.2vw 0;
}

.main-group {
    align-self: center;
    flex-direction: row;
    gap: 4vw;
}

.main-bar {
    height: auto;
    overflow: hidden;
    padding: 0.2vh;
    background: var(--orange);
    z-index: 0;
}

/* MAIN MENU */
.menu-title, .menu-options {
    margin: 1vw;
}

.menu-title {
    font-weight: 900;
    text-shadow: 0 0 20px var(--white-glow);
}

.menu > *, .menu-option {
    margin: 0.5vw;
    align-self: flex-end;
    color: var(--white);
    font-weight: 500;
}

.menu {
    margin-left: 4vw;
    align-self: center;
}

.menu-option:hover {
    transform: scale(1.2);
    background: var(--orange);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.menu-option-selected {
    margin: 0.5vw;
    align-self: flex-end;
    font-weight: 500;
    transform: scale(1.2);
    color: var(--white);
    background: var(--orange);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

/* SECTIONS */

.sections {
    flex-direction: row;
}

.section-group {
    padding: 2vw;
    margin: 4vw 5vw 4vw 0;

    align-self: center;
    background: var(--black);

    max-height: 60vh;
    overflow: scroll;
}

.section-desc {
    margin-bottom: 2vw;
}

.section-group > div > * {
    font-size: small;
    text-align: left;
}

.section-desc {
    font-family: "Source Code Pro", monospace;
    color: var(--desc-text);
    font-size: small;
}

/* POSTS */

.post-list {
    gap: 0.5vw;
}

.post-list-option, .main-post {
    gap: 4vw;
    justify-content: space-between;
    justify-items: center;
    flex-direction: row;
    background: var(--black);
    padding: 0.2vw 1vw;

    font-size: small;
}

.post-list-option:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.post-list-option > p {
    color: var(--grey);
}

.post-list-all-posts {
    justify-content: center;
    margin-top: 1vw;
}

.post-list-all-posts > li {
    color: var(--orange);
    font-weight: 600;
}

.main-post {
    margin: 4vw 4vw 1vw 4vw;
    flex-wrap: nowrap;
    padding: 4vw;
    overflow: scroll;
}

.post-content > * {
    text-align: left;
    margin-bottom: 1vw;
}

.post-content > * > * {
    display: contents;
}

.post-content > h1,
.post-content > h2,
.post-content > h3,
.post-content > h4,
.post-content > h5,
.post-content > h6 {
    color: var(--orange);
    font-weight: 700;
    font-size: x-large
}

.post-content > p {
    font-size: medium;
    font-weight: 300;
}

.post-content > .highlight {
    padding: 1vw;
    background: var(--grey);
    border: 1px ridge var(--orange);
}

.post-content > .highlight > pre > code > span > span {
    color: none;
}

.post-content > p > a {
    orange: var(--grey);
}

.post-highlight {
    margin: 0;
    padding: 0;
}

.return-button {
    flex-direction: row;
    
    align-self: center;
    margin: 0 1vw 1vw 1vw;
    padding: 1vw;
    width: fit-content;

    font-size: small;
    background: var(--black);
    cursor: pointer;
}

.return-button:hover {
    transform: scale(0.95);
}

/* LISTS */

.main-list {
    margin: 4vw;
    max-width: auto;
    align-self: center;
}

/** avoid black background at post listing **/
#section1 {
    background: none;
}
