{{ define "main" }}
<div class="main-group">
    <div class="menu">
        <h1 class="menu-title">anthhon.log<span>_</span></h1>
        <nav class="menu-options">
            <a class="menu-option-selected" onclick="switchMenuOption(this)">Postagens</a>
            <a class="menu-option" onclick="switchMenuOption(this)">Descompilando</a>
            <a class="menu-option" onclick="switchMenuOption(this)">Sobre mim</a>
        </nav>
    </div>

    <div class="main-bar"></div>

    <div class="sections">
        <section class="section-group" id="section1">
            <div>
                <h4 class="section-title">.postagens</h4>
                <p class="section-desc">lista de postagens recentes</p>
            </div>
            <div>
                {{- partial "listposts.html" . -}}
            </div>
        </section>

        <section class="section-group hidden" id="section2">
            <div>
                <h4 class="section-title">.descompilando</h4>
                <p class="section-desc">meu livro sobre programação na linguagem c</p>
            </div>
            <div>
                <div class="main-post post-highlight">
                    <div class="post-content">
                        {{ with .Site.GetPage "descompilando.md" }}
                        {{- .Content -}}
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>

        <section class="section-group hidden" id="section3">
            <div>
                <h4 class="section-title">.sobre_mim</h4>
                <p class="section-desc">mais informações sobre quem sou eu</p>
            </div>
            <div>
                <div class="main-post post-highlight">
                    <div class="post-content">
                        {{ with .Site.GetPage "about-me.md" }}
                        {{- .Content -}}
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{{ end }}
